body {
  background-color: #101010;
  color: #e0e0e0;
  font-family: 'Segoe UI', sans-serif;
}

a, .nav-link {
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

a:hover, .nav-link:hover {
  color: #ffffff;
  background-color: #2a2a2a;
}

.navbar, .offcanvas {
  background-color: #171717;
  border-bottom: 1px solid #2c2c2c;
}

.offcanvas {
  width: 260px;
  border-right: 1px solid #2c2c2c;
}

main {
  padding: 2rem 1rem;
  min-height: 85vh;
}

.btn, .form-control {
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.main-btn-outline {
  border: 1px solid #777;
  color: #e0e0e0;
  background-color: transparent;
}

.main-btn-outline:hover {
  background-color: #2c2c2c;
  color: #fff;
}

.btn-primary, .btn-success {
  background-color: #6c63ff;
  border: none;
  color: #fff;
}

.btn-primary:hover, .btn-success:hover {
  background-color: #857cff;
}

.card {
  background-color: #1d1d1d;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 1rem;
}

.form-control {
  background-color: #1b1b1b;
  border: 1px solid #333;
  color: #e0e0e0;
}

.form-control::placeholder {
  color: #888;
}

.form-control:focus {
  background-color: #1c1c1c;
  color: white;
  border-color: #6c63ff;
  box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.4);
}

h1, h2, h5 {
  color: #f5f5f5;
}

hr.border-light {
  border-top: 1px solid #444;
}

textarea.form-control {
  resize: vertical;
}

.text-purple {
  color: #6c63ff !important;
}
